/** @format */

.post {
	padding: 1rem;
  line-height: 1.8;
  margin-bottom: 10px;
}
.post__user {
	margin-left: 20px;
	font-size: 20px;
	font-weight: normal;
	columns: grey;
}
.post__content {
  margin-bottom: 5px;
}